/*IMPORTS*/
/*MAPS*/
.fondo--oscuro {
  background-color: #181A1B; }

.fondo--intermedio {
  background-color: #272727; }

.fondo--claro {
  background-color: #323638; }

.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

/*HEADER*/
header {
  position: fixed;
  top: 0;
  z-index: 1;
  font-weight: 500;
  font-size: 1.5rem;
  min-height: 85px;
  width: 100%; }
  header .navbar {
    padding: 0px 20px 0px 20px; }
    header .navbar .navbar-nav {
      gap: 25px;
      margin-bottom: 15px;
      margin-top: 25px; }
      header .navbar .navbar-nav .nav-link {
        color: white; }
      header .navbar .navbar-nav .nav-link:hover {
        color: #FC4C17;
        transition: 0.7s; }
    header .navbar .navbar-toggler {
      margin-top: 25px;
      border-color: transparent; }
    header .navbar .navbar-toggler:checked {
      border-color: #FC4C17; }
    header .navbar .navbar-toggler:focus {
      box-shadow: 0 0 0 0.0rem; }

/*INICIO*/
#inicio {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); }
  #inicio #contenedorvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #inicio #contenedorvideo video {
      height: 100vh;
      width: 100vh;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -100; }
  #inicio h1, #inicio h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    color: white;
    max-width: 600px;
    padding: 10px; }
  #inicio h2 {
    font-weight: 600;
    font-size: 3.2rem;
    padding: 0; }
  #inicio #flecha {
    position: absolute;
    bottom: 25px;
    margin-left: -20px; }

/*BIOGRAFIA*/
#biografia {
  background-color: #323638;
  padding-top: 45px;
  padding-bottom: 45px; }

.gridsBiografia {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  gap: 15px;
  margin: 0px 15px 0px 15px; }
  .gridsBiografia h4 {
    padding-top: 40px;
    padding-bottom: 25px; }
  .gridsBiografia #fotobiografia {
    max-width: 220px;
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding-top: 15px; }
  .gridsBiografia #hobbies {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .gridsBiografia #hobbies p {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
      margin: 5px 15px 10px 15px;
      text-align: center; }
  .gridsBiografia .textobiografia {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 300;
    color: white;
    padding: 15px 15px 0px 15px; }
    .gridsBiografia .textobiografia b {
      font-weight: 600; }

/*PORTFOLIO*/
#portfolio {
  padding-top: 45px;
  padding-bottom: 45px; }
  #portfolio #trabajos {
    max-width: auto;
    min-width: 280px;
    margin: 15px;
    text-align: center;
    overflow: hidden; }
    #portfolio #trabajos img {
      max-width: 300px;
      width: 100%;
      margin: auto;
      margin-bottom: 10px;
      filter: grayscale(90%); }
    #portfolio #trabajos img:hover {
      transition: 0.7s;
      filter: none;
      -webkit-transform: scale(1);
      transform: scale(1.05); }
    #portfolio #trabajos .card {
      margin-left: auto;
      margin-right: auto;
      background-color: #323638;
      border-radius: 8px;
      max-width: 300px;
      min-width: 280px;
      width: 100%;
      margin: auto; }
      #portfolio #trabajos .card .card-img-top {
        max-width: 100%; }
      #portfolio #trabajos .card .card-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: left;
        color: white;
        padding-bottom: 10px; }
      #portfolio #trabajos .card .card-text {
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
        font-size: 1.4rem;
        font-weight: 200;
        color: white;
        text-align: left; }
      #portfolio #trabajos .card .btn {
        display: flex;
        max-width: 90px;
        margin-top: 15px;
        margin-left: auto; }
      #portfolio #trabajos .card .btn-primary {
        background-color: transparent;
        border-color: #FC4C17; }
      #portfolio #trabajos .card .btn-primary:hover {
        background-color: #FC4C17;
        border-color: #FC4C17; }

/*SERVICIOS*/
#servicios {
  padding-top: 45px;
  padding-bottom: 15px; }
  #servicios #prestacion {
    max-width: auto;
    min-width: 300px;
    padding: 10px 15px 35px 15px; }
    #servicios #prestacion img {
      margin: auto;
      display: block; }
    #servicios #prestacion h4 {
      padding-top: 23px; }

/*SKILLS*/
#skills {
  padding-top: 45px;
  padding-bottom: 45px; }
  #skills h3 {
    padding-bottom: 35px; }
  #skills .carousel-indicators [data-bs-target] {
    width: 15px; }
  #skills .carousel-item {
    margin-left: auto;
    margin-right: auto;
    float: none; }
    #skills .carousel-item img {
      max-height: 100px;
      margin-left: auto;
      margin-right: auto; }
    #skills .carousel-item .carousel-caption {
      position: static;
      padding-top: 25px;
      padding-bottom: 25px; }
      #skills .carousel-item .carousel-caption h4 {
        padding-top: 10px; }

/*CONTACTO*/
#contacto {
  padding-top: 45px;
  padding-bottom: 45px; }
  #contacto .mb-3 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 25px 0px 25px;
    padding-bottom: 10px; }
    #contacto .mb-3 .form-label {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1.7rem;
      text-align: left;
      color: white; }
  #contacto .btn-primary {
    color: white;
    background-color: transparent;
    border-color: #FC4C17;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.4rem; }
  #contacto .btn-primary:hover {
    background-color: #FC4C17;
    border-color: #FC4C17; }

/*FOOTER*/
footer div {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: auto; }
  footer div .textofooter {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 200;
    color: white;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 30px; }
  footer div .redes {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 30px;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px; }
    footer div .redes .ms-3:hover {
      transition: 0.7s;
      opacity: 40%; }

/*RESPONSIVE*/
@media (max-width: 992px) {
  #logo {
    margin-top: 17px; } }

@media (max-width: 768px) {
  .gridsBiografia {
    grid-template-columns: repeat(1, 100%); } }

/*GENERAL*/
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.9rem;
  text-align: center;
  color: white;
  padding-bottom: 25px; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  padding-bottom: 10px; }

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 200;
  color: white; }

.conteiner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 0px 10px; }
