/*BIOGRAFIA*/

#biografia{
    background-color: #323638;
    padding-top: 45px;
    padding-bottom: 45px;    
}

.gridsBiografia{
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    gap: 15px;
    margin: 0px 15px 0px 15px;

    h4{
        padding-top: 40px;
        padding-bottom: 25px;
    }

    #fotobiografia{
        max-width: 220px;
        width: 100%;
        margin: auto;
        display: block;
        border-radius: 50%;
        padding-top: 15px;
    }

    #hobbies{
        text-align: center;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        margin: auto;
    
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: rgb(255, 255, 255);
            margin: 5px 15px 10px 15px;
            text-align: center;
        }
    }

    .textobiografia{
        font-family: 'Montserrat', sans-serif;
        line-height: 1.4;
        text-align:left;
        font-size: 1.7rem;
        font-weight: 300;
        color: rgb(255, 255, 255);
        padding: 15px 15px 0px 15px;
    
        b{
            font-weight: 600;
        }
    }
}