/*CONTACTO*/

#contacto{
    background-color: #323638;
    padding-top: 45px;
    padding-bottom: 45px;

    .mb-3{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 25px 0px 25px;
        padding-bottom:10px;

        .form-label{
            font-family: $main-font-family;
            font-weight: 600;
            font-size: 1.7rem;
            text-align:left;
            color: $main-color;
        }
    }

    .btn-primary {
        color: $main-color;
        background-color: transparent;
        border-color: #FC4C17;
        font-family: $main-font-family;
        font-weight: 400;
        font-size: 1.4rem;
    }
    
    .btn-primary:hover{
        background-color: #FC4C17;
        border-color: #FC4C17;
    }   
}