/*SERVICIOS*/

#servicios{
    padding-top: 105px;
    padding-bottom: 55px;

    #prestacion{
        max-width: auto;
        min-width: 300px;
        padding: 10px 15px 35px 15px;

        img{
            margin: auto;
            display: block;
        }

        h4{
            padding-top: 23px;
        }
    }
}