/*SKILLS*/

#skills{
    padding-top: 105px;
    padding-bottom: 85px;

    h3{
        padding-bottom: 35px;
    }

    .swiffy-slider{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;

        li{
            text-align: center;

            .icono{
                max-height: 100px;
            }

            h4{
                margin-top: 20px;
            }
        }
    }
}