/*IMPORTS*/
@import "./variables";
@import "./header";
@import "./inicio";
@import "./biografia";
@import "./portfolio";
@import "./servicios";
@import "./skills";
@import "./contacto";
@import "./footer";
@import "./responsive";


/*GENERAL*/

html{font-size: 62.5%;}

*{
    margin: 0;
    padding: 0;
    font-family:$main-font-family;
}

h3{
    font-family:$main-font-family;
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
    color: $main-color;
    padding-bottom: 25px;
}

h4{
    font-family:$main-font-family;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: $main-color;
    padding-bottom: 10px;
}

p{
    font-family: $main-font-family;
    line-height: 1.3;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    color: $main-color;
}

.conteiner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
}